.attribution {
    border:15px solid black;
    height:430px;
    width:443px;
    border-radius: 30px;
    box-shadow: 400px;
    position: relative;
    left: 500px;
}
.img {
    width:400px;
    padding:20px;
    border-radius: 50px;
}
.text {
    font-size:15px;
    display:inline;
}